/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border-style: none;
  max-width: 100%; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0; }

input, select {
  vertical-align: middle; }

input::-webkit-input-placeholder {
  color: #000; }

input:focus::-webkit-input-placeholder {
  color: #000; }

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
/*usage  @include font-size(13);*/
/* Brand Colors ------------------------------------------------*/
#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto; }

.layout {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 1392px;
  margin: 0 auto; }
  @media (max-width: 1393px) {
    .layout {
      max-width: 98%; } }

@media (max-width: 768px) {
  #wrapper.displey-none {
    display: none; } }

header {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  background-image: url(../images/main/main-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 656px; }
  header .layout nav {
    height: 324px; }
    @media (max-width: 768px) {
      header .layout nav {
        display: none; } }
    header .layout nav .upper-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 12px;
      position: relative; }
      header .layout nav .upper-nav .color-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .layout nav .upper-nav .color-nav ul li {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #666F78;
          padding: 4px 8px;
          margin-right: 4px;
          border-radius: 5px; }
          header .layout nav .upper-nav .color-nav ul li:nth-child(1) {
            background-color: rgba(94, 158, 2, 0.1); }
            header .layout nav .upper-nav .color-nav ul li:nth-child(1) a {
              color: #5e9e02; }
          header .layout nav .upper-nav .color-nav ul li:nth-child(2) {
            background-color: rgba(2, 64, 158, 0.1); }
            header .layout nav .upper-nav .color-nav ul li:nth-child(2) a {
              color: #02409e; }
          header .layout nav .upper-nav .color-nav ul li:nth-child(3) {
            background-color: #bf5002; }
            header .layout nav .upper-nav .color-nav ul li:nth-child(3) a {
              color: #fff; }
          header .layout nav .upper-nav .color-nav ul li:nth-child(4) {
            background-color: rgba(157, 37, 164, 0.1); }
            header .layout nav .upper-nav .color-nav ul li:nth-child(4) a {
              color: #9d25a4; }
          header .layout nav .upper-nav .color-nav ul li:nth-child(5) {
            background-color: rgba(248, 164, 5, 0.1); }
            header .layout nav .upper-nav .color-nav ul li:nth-child(5) a {
              color: #f8a405;
              margin-right: 0; }
      header .layout nav .upper-nav .info-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 1102px) {
          header .layout nav .upper-nav .info-nav ul {
            display: none; } }
        header .layout nav .upper-nav .info-nav ul li {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #666F78;
          margin-right: 20px; }
          header .layout nav .upper-nav .info-nav ul li:nth-child(3) {
            margin-right: 30px; }
          header .layout nav .upper-nav .info-nav ul li:nth-child(4) {
            position: relative;
            margin-right: 0; }
            header .layout nav .upper-nav .info-nav ul li:nth-child(4)::after {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #666f78;
              position: absolute;
              top: 11px;
              left: -15px; }
          header .layout nav .upper-nav .info-nav ul li a {
            color: #666f78; }
      header .layout nav .upper-nav .info-nav ul.menu {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px; }
        header .layout nav .upper-nav .info-nav ul.menu li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
          margin: 0; }
          header .layout nav .upper-nav .info-nav ul.menu li:nth-child(4)::after {
            display: none; }
      header .layout nav .upper-nav .info-nav .burger-upper-menu {
        display: none; }
        @media (max-width: 1102px) {
          header .layout nav .upper-nav .info-nav .burger-upper-menu {
            display: block;
            width: 35px;
            height: 30px;
            background-color: #f4f5f7;
            border-radius: 5px; } }
        header .layout nav .upper-nav .info-nav .burger-upper-menu .burger-upper {
          display: block;
          width: 35px;
          height: 2px;
          background-color: #bf5002;
          position: relative;
          top: 15px;
          left: 0;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
          header .layout nav .upper-nav .info-nav .burger-upper-menu .burger-upper::before {
            content: "";
            width: 35px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: 8px;
            left: 0;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s; }
          header .layout nav .upper-nav .info-nav .burger-upper-menu .burger-upper::after {
            content: "";
            width: 35px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: -8px;
            left: 0;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s; }
        header .layout nav .upper-nav .info-nav .burger-upper-menu .burger-upper.cross {
          position: relative;
          top: 12px;
          left: -12px;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
          z-index: 999;
          width: 30px; }
          header .layout nav .upper-nav .info-nav .burger-upper-menu .burger-upper.cross::before {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: 0px;
            left: 0;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
          header .layout nav .upper-nav .info-nav .burger-upper-menu .burger-upper.cross::after {
            content: "";
            opacity: 0;
            width: 3px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: -8px;
            left: 0; }
      header .layout nav .upper-nav .contactForCommunication ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        header .layout nav .upper-nav .contactForCommunication ul li:nth-child(1) {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          margin-right: 16px; }
          header .layout nav .upper-nav .contactForCommunication ul li:nth-child(1) a {
            color: #3e4449; }
        header .layout nav .upper-nav .contactForCommunication ul li:nth-child(2) {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #666F78;
          margin-right: 36px; }
          header .layout nav .upper-nav .contactForCommunication ul li:nth-child(2) a {
            color: #666f78; }
        header .layout nav .upper-nav .contactForCommunication ul li:nth-child(3) {
          margin-right: 16px; }
    header .layout nav .middle-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 17px; }
      header .layout nav .middle-nav .logotype {
        display: block; }
        header .layout nav .middle-nav .logotype img {
          position: relative; }
      header .layout nav .middle-nav .links-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 1277px) {
          header .layout nav .middle-nav .links-nav ul {
            display: none; } }
        header .layout nav .middle-nav .links-nav ul li {
          margin-right: 24px;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px; }
          header .layout nav .middle-nav .links-nav ul li a {
            color: #000; }
          header .layout nav .middle-nav .links-nav ul li:last-child {
            margin-right: 0px; }
      header .layout nav .middle-nav .links-nav ul.menu {
        display: block;
        position: absolute;
        top: 85px;
        left: 45%;
        z-index: 1;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px; }
        header .layout nav .middle-nav .links-nav ul.menu li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
          margin: 0; }
      header .layout nav .middle-nav .links-nav .burger-menu-middle {
        display: none; }
        @media (max-width: 1277px) {
          header .layout nav .middle-nav .links-nav .burger-menu-middle {
            display: block;
            width: 35px;
            height: 30px;
            background-color: #f4f5f7;
            border-radius: 5px; } }
        header .layout nav .middle-nav .links-nav .burger-menu-middle .burger-middle {
          display: block;
          width: 35px;
          height: 2px;
          background-color: #bf5002;
          position: relative;
          top: 15px;
          left: 0;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
          header .layout nav .middle-nav .links-nav .burger-menu-middle .burger-middle::before {
            content: "";
            width: 35px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: 8px;
            left: 0;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s; }
          header .layout nav .middle-nav .links-nav .burger-menu-middle .burger-middle::after {
            content: "";
            width: 35px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: -8px;
            left: 0;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s; }
        header .layout nav .middle-nav .links-nav .burger-menu-middle .burger-middle.cross {
          position: relative;
          top: 20px;
          left: 0;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
          z-index: 999; }
          header .layout nav .middle-nav .links-nav .burger-menu-middle .burger-middle.cross::before {
            content: "";
            width: 35px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: 0px;
            left: 0;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
          header .layout nav .middle-nav .links-nav .burger-menu-middle .burger-middle.cross::after {
            content: "";
            opacity: 0;
            width: 35px;
            height: 2px;
            background-color: #bf5002;
            position: absolute;
            top: -8px;
            left: 0; }
      header .layout nav .middle-nav .shoping-cart ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        header .layout nav .middle-nav .shoping-cart ul li {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: 30px; }
          header .layout nav .middle-nav .shoping-cart ul li:last-child {
            margin-right: 0; }
          header .layout nav .middle-nav .shoping-cart ul li a {
            color: #000; }
            header .layout nav .middle-nav .shoping-cart ul li a img {
              width: 32px;
              height: 32px;
              margin-right: 7px; }
          header .layout nav .middle-nav .shoping-cart ul li img {
            margin-top: 10px; }

footer {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 46px 0 41px 0;
  background-color: #fafafb; }
  footer .layout .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .layout .content ul {
      margin-bottom: 42px; }
      footer .layout .content ul li {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px; }
        footer .layout .content ul li a {
          color: #666f78; }
        footer .layout .content ul li:first-child {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px; }
          footer .layout .content ul li:first-child a {
            color: #000; }
    footer .layout .content ul > li.caption {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px; }
      footer .layout .content ul > li.caption a {
        color: #000; }
  footer .layout .bottom-content {
    margin-top: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .layout .bottom-content .social-links .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      footer .layout .bottom-content .social-links .social li:first-child {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #BF5002;
        margin-right: 52px; }
      footer .layout .bottom-content .social-links .social li img {
        margin-right: 35px; }
    footer .layout .bottom-content .social-links .link {
      margin-top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      footer .layout .bottom-content .social-links .link li {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #666F78;
        margin-right: 21px; }
        footer .layout .bottom-content .social-links .link li a {
          color: #666f78; }
    footer .layout .bottom-content .author {
      -ms-flex-item-align: end;
      align-self: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      footer .layout .bottom-content .author span {
        margin-right: 11px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #666F78; }
      footer .layout .bottom-content .author img {
        width: 89px;
        height: 16px; }

.mobile-nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%; }
  .mobile-nav .mobile-nav-head {
    display: none; }
    @media (max-width: 768px) {
      .mobile-nav .mobile-nav-head {
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 9999;
        width: 100vw;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #00000034;
        padding: 0 10px; } }
    .mobile-nav .mobile-nav-head .burger-logo-block {
      margin-top: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .mobile-nav .mobile-nav-head .burger-logo-block .mobile-nav-burger {
        width: 30px;
        height: 30px; }
        .mobile-nav .mobile-nav-head .burger-logo-block .mobile-nav-burger .burger {
          position: relative;
          top: 11px;
          width: 14px;
          height: 2px;
          background-color: black;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s; }
          .mobile-nav .mobile-nav-head .burger-logo-block .mobile-nav-burger .burger::before {
            content: "";
            width: 20px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 8px;
            left: 0;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s; }
          .mobile-nav .mobile-nav-head .burger-logo-block .mobile-nav-burger .burger::after {
            content: "";
            width: 26px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 16px;
            left: 0;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s; }
      .mobile-nav .mobile-nav-head .burger-logo-block .logo {
        margin-left: 20px; }
    .mobile-nav .mobile-nav-head .shopping-list {
      margin-top: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .mobile-nav .mobile-nav-head .shopping-list .food-basket {
        margin-right: 20px; }
      .mobile-nav .mobile-nav-head .shopping-list .ticket {
        display: block; }
  @media (max-width: 768px) {
    .mobile-nav .mobile-nav-head.active {
      background-color: white; }
      .mobile-nav .mobile-nav-head.active .burger-logo-block .mobile-nav-burger .burger {
        position: relative;
        top: 15px;
        width: 26px;
        height: 2px;
        background-color: black;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
        .mobile-nav .mobile-nav-head.active .burger-logo-block .mobile-nav-burger .burger::before {
          display: none; }
        .mobile-nav .mobile-nav-head.active .burger-logo-block .mobile-nav-burger .burger::after {
          content: "";
          width: 26px;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 1px;
          left: 0;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); } }
  .mobile-nav .navig {
    display: none; }
  @media (max-width: 768px) {
    .mobile-nav .navig.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      top: 58px;
      left: 0;
      height: 100%; }
      .mobile-nav .navig.active ul {
        width: 100vw;
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .mobile-nav .navig.active ul li {
          position: relative;
          display: block;
          padding: 12px 16px 12px 16px;
          border-bottom: 1px solid #E6E6E6; }
          .mobile-nav .navig.active ul li .accordion {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .mobile-nav .navig.active ul li .accordion h4 {
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              padding: 0px 16px 0px 16px; }
              .mobile-nav .navig.active ul li .accordion h4 a {
                color: #000000; }
            .mobile-nav .navig.active ul li .accordion .arrow-accordion {
              position: relative; }
              .mobile-nav .navig.active ul li .accordion .arrow-accordion img {
                width: 12px;
                height: 6px; }
          .mobile-nav .navig.active ul li ul {
            display: none; }
          .mobile-nav .navig.active ul li:nth-child(9), .mobile-nav .navig.active ul li:nth-child(10) {
            padding-left: 30px; }
          .mobile-nav .navig.active ul li a {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #000000; }
        .mobile-nav .navig.active ul li.accordion-falling-out {
          background-color: #FBF3ED; }
          .mobile-nav .navig.active ul li.accordion-falling-out .accordion .arrow-accordion {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
            .mobile-nav .navig.active ul li.accordion-falling-out .accordion .arrow-accordion img {
              width: 12px;
              height: 6px; }
          .mobile-nav .navig.active ul li.accordion-falling-out ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative; }
            .mobile-nav .navig.active ul li.accordion-falling-out ul li {
              background-color: #FBF3ED;
              border-bottom: none; }
              .mobile-nav .navig.active ul li.accordion-falling-out ul li a {
                margin-bottom: 10px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px; }
      .mobile-nav .navig.active .bottom {
        margin: 30px 0 0 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .mobile-nav .navig.active .bottom a {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 24px;
          color: #666F78; }
        .mobile-nav .navig.active .bottom .link-contact {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .mobile-nav .navig.active .bottom .link-contact a {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #3E4449;
            margin-right: 17px; }
          .mobile-nav .navig.active .bottom .link-contact .viber {
            display: block; }
            .mobile-nav .navig.active .bottom .link-contact .viber a img {
              width: 15px;
              height: 15px; }
          .mobile-nav .navig.active .bottom .link-contact .telegram {
            display: block; }
            .mobile-nav .navig.active .bottom .link-contact .telegram a img {
              width: 15px;
              height: 15px; }
      .mobile-nav .navig.active ul.color-links {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .mobile-nav .navig.active ul.color-links li {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #666F78;
          padding: 4px 8px;
          margin-right: 4px;
          border-radius: 5px;
          width: 200%; }
          .mobile-nav .navig.active ul.color-links li:nth-child(1) {
            background-color: rgba(94, 158, 2, 0.1); }
            .mobile-nav .navig.active ul.color-links li:nth-child(1) a {
              color: #5e9e02; }
          .mobile-nav .navig.active ul.color-links li:nth-child(2) {
            background-color: rgba(2, 64, 158, 0.1); }
            .mobile-nav .navig.active ul.color-links li:nth-child(2) a {
              color: #02409e; }
          .mobile-nav .navig.active ul.color-links li:nth-child(3) {
            background-color: #bf5002; }
            .mobile-nav .navig.active ul.color-links li:nth-child(3) a {
              color: #fff; }
          .mobile-nav .navig.active ul.color-links li:nth-child(4) {
            background-color: rgba(157, 37, 164, 0.1); }
            .mobile-nav .navig.active ul.color-links li:nth-child(4) a {
              color: #9d25a4; }
          .mobile-nav .navig.active ul.color-links li:nth-child(5) {
            background-color: rgba(248, 164, 5, 0.1); }
            .mobile-nav .navig.active ul.color-links li:nth-child(5) a {
              color: #f8a405;
              margin-right: 0; } }
