#wrapper,
main,
#content,
#sidebar,
aside,
section{
	@include box;
}
.layout {
	@include box;
	width:1392px;
	margin:0 auto;
	@media(max-width:1393px){
		max-width: 98%;
	}
}
@media (max-width:768px){
	#wrapper.displey-none{
	display: none;
	}
}



