/* Brand Colors ------------------------------------------------*/
$colorNavUpper: rgba(102, 111, 120, 1);
$colorTBlack: #000;

$font-color: #e60c0c;
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;
