footer {
	@include box;
	padding: 46px 0 41px 0;
	background-color: rgba(250, 250, 251, 1);
	.layout{
		.content {
			display: flex;
			justify-content: space-between;
			ul{
				margin-bottom: 42px;
				li{
					@include weight4;
					margin-bottom: 12px;
					a{
						color:$colorNavUpper;
					}
					&:first-child{
						@include weight6;
						a{
							color:$colorTBlack;
						}
					}
				}
				
			}
			ul >li.caption{
				@include weight6;
				a{
					color:$colorTBlack;
				}
			}
		}
		.bottom-content {
			margin-top: 43px;

			display: flex;
			justify-content: space-between;
			.social-links {
				.social {
					display: flex;
					align-items: center;
					li{
						&:first-child{
							font-family: 'Gilroy';
							font-style: normal;
							font-weight: 700;
							font-size: 24px;
							color: #BF5002;
							margin-right: 52px;
						}
						img{
							margin-right: 35px;
						}
					}
				}
				.link {
					margin-top: 20px;
					display: flex;
					align-items: center;
					li{
						@include upper-nav;
						margin-right: 21px;
						a{
							color: $colorNavUpper;
						}
					}
				}
			}
			.author {
				align-self: flex-end;
				display: flex;
				align-items: center;
				span{
					margin-right: 11px;
					font-family: 'Gilroy';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 24px;
					color: #666F78;
				}
				img{
					width: 89px;
					height: 16px;
				}
			}
		}
	}
}




