.review {
    margin-top: 43px;
    padding-bottom: 54px;
    .layout {
        overflow: visible;
        .content {
            h3{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                text-align: center;
                color: #333333;
            }
            ul.comments{
                margin-top: 52px;
                display: flex;
                justify-content: space-between;
                position: relative;
                li{
                    @include weight4;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 448px;
                    height: 344px;
                    margin:  0 12px;
                    padding: 39px 49px 32px 47px;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
                    .author-and-data {
                        display: flex;
                        justify-content: space-between;
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        .author {
                            
                        }
                        .data {
                        }
                    }
                    
                }
                button{
                    position: absolute;
                    border-radius: 50%;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
                    background-color: #fff;
                    border: none;
                    cursor: pointer;
                    &:first-child{
                        top: 50%;
                        transform: translateY(-50%);
                        left: -30px;
                        width: 80px;
                        height: 80px;
                        img{
                            width: 21px;
                            height: 21px;
                        }
                    }
                    &:last-child{
                        transform: translateY(-50%);
                        top: 50%;
                        right: -30px;
                        width: 80px;
                        height: 80px;
                        img{
                            width: 21px;
                            height: 21px;
                        }
                    }
                }
            }
            ul.rate{
                margin: 77px auto 0 auto;
                
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}



.rate {
}